@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0 0 0 0;
  padding: 0;
  box-sizing: border-box; }

html {
  position: relative;
  width: 100%;
  overflow-x: hidden; }

body {
  height: 100%;
  overflow-x: hidden; }

img {
  height: auto;
  width: 10rem; }

html {
  font-size: 100%; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #4E4E4E; }

p {
  font-size: 1.8rem; }

.stand-out {
  font-size: 2.3rem;
  font-weight: 400; }

.gradient-text {
  background-image: linear-gradient(to right, #FB9B56, #EB716A);
  -webkit-background-clip: text;
  color: transparent; }

.stand-out-sec {
  display: inline-block;
  color: #FB9B56;
  font-weight: 700; }

.text-change {
  position: relative; }

.heading-primary {
  font-weight: 600;
  display: block;
  font-size: 9rem; }

.heading-secondary {
  font-weight: 500;
  font-size: 6rem; }

.heading-tertiary {
  font-size: 4rem;
  font-weight: 400;
  display: block; }

.section-landing {
  min-height: 90vh;
  width: 100%; }

.section-features {
  margin: 0 auto;
  width: 90%;
  height: auto; }

.section-testimonials {
  height: auto; }

.section-plans {
  margin: 0 auto;
  width: 90%;
  height: auto; }

.section-cta {
  width: 90%;
  margin: 0 auto;
  height: 100vh; }

.header {
  height: 15vh;
  width: 90%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between; }

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .logo-container__logo {
    width: 8rem;
    justify-self: flex-start; }

.nav-links {
  width: 50rem;
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: space-around; }
  .nav-links__link {
    text-decoration: none;
    color: #4E4E4E; }

.landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  height: 100%; }
  .landing__intro-image__image {
    width: 52rem; }

.features {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 50% 50%;
  column-gap: 10%;
  row-gap: 10rem; }
  .features__feature {
    display: flex;
    justify-content: space-between; }
    .features__feature__text {
      flex: 2; }
    .features__feature__image {
      flex: 1;
      background-color: grey;
      border-radius: 2rem;
      width: 15rem;
      height: 20rem;
      margin-right: 2rem; }

.plans {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0 auto; }

.btn {
  transition: all .5s;
  text-decoration: none;
  background: linear-gradient(to right, #FB9B56, #EB716A);
  padding: 1.5rem 5rem;
  color: #fff; }

.testimonials {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  align-items: center; }
  .testimonials__testimonial {
    padding: 10rem 4rem;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
    .testimonials__testimonial__text {
      flex: 3; }
    .testimonials__testimonial__image {
      flex: 1;
      display: flex;
      justify-content: flex-end; }
      .testimonials__testimonial__image__image {
        width: 20rem;
        border-radius: 100%; }
  .testimonials__arrow {
    font-size: 8rem;
    color: #4E4E4E; }

.plans__plan {
  width: 90%;
  padding-top: 3rem;
  height: 50rem;
  padding-bottom: 3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center; }
  .plans__plan__left {
    margin: 0 0 0 0; }
  .plans__plan__right {
    margin-left: auto;
    margin-right: 0; }
  .plans__plan__image {
    flex: 2;
    width: 55%; }
  .plans__plan__description {
    flex: 1;
    display: flex;
    align-items: center; }
  .plans__plan__price {
    display: flex;
    align-items: center;
    flex: 1; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 3rem; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-bottom-large {
  margin-bottom: 10rem; }

.u-center-text {
  text-align: center; }

.u-margin-leftright {
  margin: 0 1rem 0 1rem; }

.u-section-margin {
  margin-bottom: 25rem; }

.left {
  float: left;
  margin-right: 3rem; }

.right {
  height: auto;
  float: right;
  margin-left: 3rem; }

.u-text-right {
  text-align: right; }

@media screen and (max-width: 1800px) {
  html {
    font-size: 85%; } }

@media screen and (max-width: 1500px) {
  html {
    font-size: 70%; } }

@media screen and (max-width: 1300px) {
  html {
    font-size: 62.5%; } }

@media screen and (max-width: 1100px) {
  .landing {
    text-align: center;
    flex-direction: column; }
    .landing__intro-words {
      margin-bottom: 7rem; } }

@media screen and (max-width: 1100px) {
  .features {
    grid-template-columns: 100%;
    column-gap: 0;
    grid-template-rows: 20% 20% 20% 20%;
    row-gap: 10rem; }
  .plans {
    width: 80%;
    grid-template-columns: 100%;
    row-gap: 7rem; }
    .plans__plan {
      height: 50rem; }
    .plans__plan__left {
      margin: 0 auto 0 auto; }
    .plans__plan__right {
      margin: 0 auto; } }

@media screen and (max-width: 1000px) {
  .line {
    transition: all .5s ease;
    width: 30px;
    height: 3px;
    background: #4E4E4E;
    margin: 5px; }
  .hamburger {
    position: relative;
    cursor: pointer;
    z-index: 100; }
  .hamburger-menu-open .line {
    background: white; }
  .hamburger-menu-open #line1 {
    transform: rotate(45deg); }
  .hamburger-menu-open #line2 {
    opacity: 0; }
  .hamburger-menu-open #line3 {
    transform: translateY(-15px) rotate(-45deg); }
  .nav-links {
    position: absolute;
    left: 0;
    top: 0;
    clip-path: circle(0px at 90% 5%);
    -webkit-clip-path: circle(0px at 93% 8%);
    transition: all 1s ease-out;
    background: linear-gradient(to bottom left, #EB716A, #FB9B56);
    height: 100vh;
    width: 100%;
    z-index: 1;
    flex-direction: column; }
    .nav-links__link {
      color: #fff; }
  .nav-links-open {
    clip-path: circle(1400px at 90% 10%);
    -webkit-clip-path: circle(1400px at 93% 8%); }
  .lock-scroll {
    overflow-y: hidden; }
  .testimonials__testimonial {
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem; }
    .testimonials__testimonial__text {
      margin-bottom: 4rem; } }

@media screen and (max-width: 650px) {
  .landing__intro-image__image {
    width: 40rem; } }

@media screen and (max-width: 450px) {
  .landing__intro-image__image {
    width: 35rem; } }

@media screen and (max-width: 400px) {
  .landing__intro-image__image {
    width: 30rem; }
  html {
    font-size: 50%; } }

@media screen and (max-width: 350px) {
  .landing__intro-image__image {
    width: 25rem; }
  html {
    font-size: 45%; } }
